<IfModule mod_rewrite.c>
RewriteEngine on

# .html uzantısını kaldır
RewriteCond %{REQUEST_FILENAME} !-d 
RewriteCond %{REQUEST_FILENAME}.html -f 
RewriteRule ^(.*)$ $1.html 

# capslockgames.com/tr/index.html adresini capslockgames.com/tr/ sayfasına yönlendir
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([a-z]+)/index\.html$ /$1/ [NC,R=301,L]

# capslockgames.com/tr/about.html'i capslockgames.com/tr/about sayfasına yönlendir
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^([a-z]+)/(.+)\.html$ /$1/$2 [NC,R=301,L]
</IfModule>
